// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #944677;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$base-red: #d0021b;
$info: #31ccec;
$warning: #f2c037;
// custom variable
$base-gray: #606266;
$gray-1: #333;
$gray-2: #777;
$gray-3: #dddddd;
$gray-4: #303133;
$gray-5: #4b5563;
$gray-6: #e5e5e5;
$grey-7: #555;
$grey-8: #8f8f8f;
$grey-9: #7b7b7b;
$grey-10: #a1a1a1;
$grey-11: #cecece;
$grey-12: #eee;
$gray-7: #64748b;
$silver: #c0c0c0;
$silver-1: #d9d9d9;
$silver-2: #999;
$base-white: #fff;
$white-1: #dcdfe6;
$white-2: #ebeef5;
$white-3: #f5f7fa;
$white-4: #d9d9d9;
$purple-1: #dfc8d6;
$purple-2: #f4edf1;
$negative-1: #ec205f;
$base-yellow: #f7ba2a;
$base-yellow-1: #fda923;
$base-black: #000;
$base-black-1: #1d2130;
$base-black-2: #afafaf;

$negative-2: #ed341d;
$base-blue: #32325d;
$blue-1: #2563eb;
$blue-2: #232136;
$blue-3: #1d2130;
$base-blue1: #4f46ba;
